[submodule "r2p2"]
	path = r2p2
	url = https://github.com/epfl-dcsl/r2p2
[submodule "raft"]
	path = raft
	url = https://github.com/epfl-dcsl/raft/
[submodule "lancet-tool"]
	path = lancet-tool
	url = https://github.com/epfl-dcsl/lancet-tool
[submodule "distbenchr"]
	path = distbenchr
	url = https://github.com/marioskogias/distbenchr/
[submodule "redis"]
	path = redis
	url = https://github.com/epfl-dcsl/redis/
